

#annons1{
  grid-area:a1;
  margin: 20px;
  border:2px solid #f5f5f5;
  color: #f5f5f5;

}
#annons2{
  grid-area:a2;
  margin: 20px;
  border:2px solid #f5f5f5;
  color: #f5f5f5;

}
#annons3{
  grid-area:a3;
  margin: 20px;
  border:2px solid #f5f5f5;
  color: #f5f5f5;

}
#annons4{
  grid-area:a4;
  margin: 20px;
  border:2px solid #f5f5f5;
  color: #f5f5f5;

}
main{
justify-content: space-between;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows:auto;
grid-template-areas:
"a1 a2"
"a3 a4";
width: 70vw;


}
.Titleprizewrapper{
  display: flex;
  justify-content:space-between;

}
.Titleprizewrapper p{
font-size: 1.3rem;
}
#bil1{
  width: 100%;
}

#mainAsideWrapper{
display: flex;
flex-direction: row;
}

@media screen and (max-width: 850px) {

main{
  width: 100%;
  grid-template-columns: 100%;
  grid-template-areas:
  "a1"
  "a2"
  "a3"
  "a4";
}

#mainAsideWrapper{
  flex-direction: column;
}
}
