body {
  margin: 0;
  background-color: #4d4d4d;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
footer {
  width: 100vw;
  color: #f5f5f5;
  padding: 20px;
  height: 50px;
  margin-top: 20px;
  border-top: 2px solid #f5f5f5;
}
footer p {
  margin-top: auto;
  margin-bottom: auto;
}
/*FROM HERE NAV.CSS*/
header {
  width: 100%;
  display: flex;
  color: #f5f5f5;
}
header h2 {
  text-align: center;
  width: 25%;
}
nav {
  width: 50%;
  margin-left: 25%;
  margin-top: auto;
  margin-bottom: auto;
}
ul {
  list-style: none;
  display: flex;
  z-index: 20;
  justify-content: space-around;
  transition: 0.5s;
}
ul li {
  padding: 5px 20px;
  border: 2px solid #f5f5f5;
  border-radius: 12px;
}
ul li a {
  color: #f5f5f5;
  text-decoration: none;
}
#hamburger {
  height: 50px;
  width: 50px;
  margin-bottom: auto;
  margin-top: auto;
  display: none;
}
#hamburger div {
  height: 5px;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 50px;
}
/*FROM HERE MAIN.CSS*/
#annons1 {
  grid-area: a1;
  margin: 20px;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}
#annons2 {
  grid-area: a2;
  margin: 20px;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}
#annons3 {
  grid-area: a3;
  margin: 20px;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}
#annons4 {
  grid-area: a4;
  margin: 20px;
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
}
main {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "a1 a2"
    "a3 a4";
  width: 68vw;
  border: 2px solid #f5f5f5;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
main img {
  width: 100%;
}
.Titlepricewrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.Titlepricewrapper p {
  font-size: 1.3rem;
}

#mainAsideWrapper {
  display: flex;
  flex-direction: row;
}
/*FROM HERE ASIDE.CSS*/
aside {
  position: absolute;
  top: auto;
  right: 0;
  width: 30%;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #4d4d4d;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  color: #f5f5f5;
  text-decoration: none;
  text-align: center;
}

#bil {
  width: 100%;
  height: auto;
}

#gaffel {
  width: 100%;
  height: auto;
}
#gaffeltruck {
  width: 100%;
  height: auto;
}
#annons5 {
  width: 60%;
  height: 20%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}
#annons6 {
  width: 60%;
  height: 20%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}
#annons7 {
  width: 60%;
  height: 20%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}
/*
.fixed {
  position: fixed;
  top: 0;
}
*/
@media screen and (max-width: 1350px) {
  nav {
    margin-left: 0;
    width: 75%;
  }
}
@media screen and (max-width: 850px) {
  header h2 {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  #hamburger {
    display: block;
    margin-left: 20vw;
    margin-top: 25px;
    margin-bottom: auto;
  }

  ul {
    position: fixed;
    justify-content: flex-start;
    top: 90px;
    height: 100vh;
    right: -110vw;
    width: 100vw;
    background-color: #f5f5f5;
    flex-direction: column;
    text-align: center;
  }
  ul li {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    padding: 25px 50px;
    width: 50%;
    border-bottom: 2px solid #4d4d4d;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  ul li a {
    font-size: 1.5rem;
    color: #4d4d4d;
  }

  main {
    margin-top: 140vh;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4";
  }

  #mainAsideWrapper {
    flex-direction: column;
  }
  aside {
    width: 100%;
    height: auto;
  }
  /*
    .fixed {
        position: absolute;
    }*/
}
